.div_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.h2_name {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.button_add {
    text-align: center;
    width: 300px;
    height: min-content;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.div_btn {
    text-align: center;
}