.header {
    background-color: rgb(44, 44, 44);
    height: 10vh;
}
.p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    color: rgb(242, 246, 246);
    padding-top: 30px;
    justify-content: center;
}